

    <nav class="sidebar sidebar-offcanvas" id="sidebar">
        <ul class="nav">
            <li class="nav-item">
                <a class="nav-link" href="/Dashboard/Index/">
                    <i class="mdi mdi-home menu-icon"></i>
                    <span class="menu-title">Dashboard</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">
                    <i class="mdi mdi-circle-outline menu-icon"></i>
                    <span class="menu-title">UI Elements</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/Information/Index/">
                    <i class="mdi mdi-format-annotation-minus menu-icon"></i>
                    <span class="menu-title">Announcements</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/Service/Index/">
                    <i class="mdi mdi-room-service-outline menu-icon"></i>
                    <span class="menu-title">Services</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/Staff/Index/">
                    <i class="mdi mdi-cursor-default-click menu-icon"></i>
                    <span class="menu-title">Staff</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/Contact/Index/">
                    <i class="mdi mdi-message-alert-outline menu-icon"></i>
                    <span class="menu-title">Contact</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/Image/Index/">
                    <i class="mdi mdi-image-area menu-icon"></i>
                    <span class="menu-title">Images</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/Report/Index/">
                    <i class="mdi mdi-cursor-default-click menu-icon"></i>
                    <span class="menu-title">Report</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/Profile/Index/">
                    <i class="mdi mdi-map menu-icon"></i>
                    <span class="menu-title">Settings</span>
                </a>
            </li>

            <li class="nav-item">
                <a class="nav-link" data-bs-toggle="collapse" href="#auth" aria-expanded="false" aria-controls="auth">
                    <i class="mdi mdi-account menu-icon"></i>
                    <span class="menu-title">Admin</span>
                </a>

            </li>
            <li class="nav-item">
                <a class="nav-link" href="/Login/">
                    <i class="mdi mdi-exit-run menu-icon"></i>
                    <span class="menu-title">Exit</span>
                </a>
            </li>
        </ul>
    </nav>

