
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Dashboard</title>
    <link rel="stylesheet" href="~/Majestic/template/vendors/mdi/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="~/Majestic/template/vendors/base/vendor.bundle.base.css">
    <link rel="stylesheet" href="~/Majestic/template/vendors/datatables.net-bs4/dataTables.bootstrap4.css">
    <link rel="stylesheet" href="~/Majestic/template/css/style.css">
    <link rel="shortcut icon" href="~/Majestic/template/images/favicon.png" />
</head>